In [1]:
# Homework8 Solution

import requests
import bs4
import pandas
import numpy

In [2]:
# Problem 1:
page = requests.get('http://www.ncaa.com/rankings/basketball-men/d1/ncaa-mens-basketball-rpi')
soup = bs4.BeautifulSoup(page.content, 'html.parser')
tb = soup.find('table', {'class':'ncaa-rankings-table'}).find('tbody')
rows = tb.find_all('tr')
data = [(r.contents[3].text, int(r.contents[0].text), r.contents[2].text) \
       for r in rows]
table = pandas.DataFrame(data, columns=['Conference', 'Rank', 'Team'])
table

          Conference  Rank                  Team
0     Atlantic Coast     1        North Carolina
1       Southeastern     2              Kentucky
2           Big East     3             Villanova
3             Big 12     4                Kansas
4             Pac-12     5               Arizona
5         West Coast     6               Gonzaga
6             Pac-12     7                Oregon
7       Southeastern     8               Florida
8             Big 12     9                Baylor
9     Atlantic Coast    10                  Duke
10    Atlantic Coast    11            Louisville
11               AAC    12            Cincinnati
12          Big East    13                Butler
13            Pac-12    14                  UCLA
14    Atlantic Coast    15           Florida St.
15               AAC    16                   SMU
16        West Coast    17     Saint Mary's (CA)
17           Big Ten    18                Purdue
18    Atlantic Coast    19              Virginia
19            Big 12    20         West Virginia
20            Big 12    21              Iowa St.
21    Atlantic Coast    22            Notre Dame
22           Big Ten    23              Michigan
23      Southeastern    24        South Carolina
24           Big Ten    25             Minnesota
25       Atlantic 10    26                   VCU
26          Big East    27                Xavier
27      Southeastern    28              Arkansas
28   Missouri Valley    29           Wichita St.
29           Big Ten    30             Wisconsin
..               ...   ...                   ...
321     Southwestern   322           Jackson St.
322     America East   323                 Maine
323         Big West   324      UC Santa Barbara
324    Summit League   325          Western Ill.
325      Mid-Eastern   326            Morgan St.
326     America East   327              Hartford
327             ASUN   328               Stetson
328         Southern   329                   VMI
329         Big West   330          UC Riverside
330   Conference USA   331        Southern Miss.
331      Mid-Eastern   332          Delaware St.
332     Southwestern   333      Mississippi Val.
333              OVC   334                  SIUE
334          Big Sky   335        Northern Ariz.
335      Mid-Eastern   336            Coppin St.
336   Conference USA   337                   FIU
337   Conference USA   338           North Texas
338      Mid-Eastern   339                Howard
339          Big Sky   340             Idaho St.
340          Big Sky   341         Southern Utah
341     Southwestern   342           Alabama St.
342        Big South   343              Longwood
343        Northeast   344     Central Conn. St.
344     Southwestern   345       Ark.-Pine Bluff
345        Big South   346          Presbyterian
346      Mid-Eastern   347       Bethune-Cookman
347        Northeast   348  St. Francis Brooklyn
348      Mid-Eastern   349          Florida A&M;
349      Mid-Eastern   350             N.C. A&T;
350     Southwestern   351          Alabama A&M;

[351 rows x 3 columns]

In [3]:
g = table.groupby('Conference')
ranks = g.Rank.mean().sort_values()
ranks

Conference
Atlantic Coast       59.133333
Big 12               64.000000
Big Ten              66.857143
Big East             74.800000
Southeastern         84.785714
Pac-12              101.666667
Mountain West       129.636364
Atlantic 10         131.785714
AAC                 135.454545
West Coast          141.900000
Colonial            160.800000
Sun Belt            172.666667
Missouri Valley     172.900000
Mid-American        179.083333
Metro Atlantic      181.090909
Southern            182.200000
Horizon             185.500000
Western Athletic    188.125000
Summit League       192.777778
Ivy League          205.625000
America East        214.333333
Conference USA      214.428571
Patriot             215.300000
Big South           217.900000
OVC                 219.166667
ASUN                239.500000
Southland           240.384615
Big Sky             250.750000
Big West            259.777778
Northeast           262.900000
Southwestern        296.900000
Mid-Eastern         306.615385
Name: Rank, dtype: float64

In [4]:
# Problem 2:
teams = [(t.text, t.attrs['href']) for t in 
    bs4.BeautifulSoup(requests.get('http://www.ncaa.com/standings/basketball-men/d1/2016/atlantic-coast').content, 'html.parser')  
    .find('div', {'class':'ncaa-standings-conference-show-atlantic-coast'}) 
    .find_all('a', {'class':'ncaa-standing-conference-team-link'}) ]
teams

[('North Carolina', '/schools/north-carolina/basketball-men'),
 ('Florida State', '/schools/florida-st/basketball-men'),
 ('Louisville', '/schools/louisville/basketball-men'),
 ('Notre Dame', '/schools/notre-dame/basketball-men'),
 ('Duke', '/schools/duke/basketball-men'),
 ('Virginia', '/schools/virginia/basketball-men'),
 ('Virginia Tech', '/schools/virginia-tech/basketball-men'),
 ('Miami (FL)', '/schools/miami-fl/basketball-men'),
 ('Syracuse', '/schools/syracuse/basketball-men'),
 ('Wake Forest', '/schools/wake-forest/basketball-men'),
 ('Georgia Tech', '/schools/georgia-tech/basketball-men'),
 ('Clemson', '/schools/clemson/basketball-men'),
 ('Pittsburgh', '/schools/pittsburgh/basketball-men'),
 ('North Carolina State', '/schools/north-carolina-st/basketball-men'),
 ('Boston College', '/schools/boston-college/basketball-men')]

In [5]:
margins = [(team, numpy.mean(
    [eval(score[2:]) * (1 if score[0]=='W' else -1) for score in 
        [game.contents[2].text for game in 
            bs4.BeautifulSoup(requests.get('http://www.ncaa.com' + url).content,'html.parser') 
                .find('table', {'class':'ncaa-schools-sport-table'}).tbody 
                .find_all('tr') ] ]) )
    for (team,url) in teams]
margins

[('North Carolina', 13.824999999999999),
 ('Florida State', 10.0),
 ('Louisville', 11.323529411764707),
 ('Notre Dame', 8.0277777777777786),
 ('Duke', 10.648648648648649),
 ('Virginia', 9.7058823529411757),
 ('Virginia Tech', 4.3939393939393936),
 ('Miami (FL)', 4.9090909090909092),
 ('Syracuse', 5.2352941176470589),
 ('Wake Forest', 4.3939393939393936),
 ('Georgia Tech', 0.64864864864864868),
 ('Clemson', 3.2424242424242422),
 ('Pittsburgh', -1.8181818181818181),
 ('North Carolina State', -2.0),
 ('Boston College', -5.875)]

In [6]:
table = pandas.DataFrame(margins, columns=['Team', 'Margin']) \
    .sort_values('Margin', ascending=False)
table

                    Team     Margin
0         North Carolina  13.825000
2             Louisville  11.323529
4                   Duke  10.648649
1          Florida State  10.000000
5               Virginia   9.705882
3             Notre Dame   8.027778
8               Syracuse   5.235294
7             Miami (FL)   4.909091
6          Virginia Tech   4.393939
9            Wake Forest   4.393939
11               Clemson   3.242424
10          Georgia Tech   0.648649
12            Pittsburgh  -1.818182
13  North Carolina State  -2.000000
14        Boston College  -5.875000